# Python
*.pyc

# Visual Studio files
.vs/
.vscode/
*.sdf
*.opensdf
*.VC.opendb
*.suo
*.user

# macOS files
.DS_Store

# Bazel artifacts
/bazel-*

# Emacs autosaves
*~
\#*\#

# Vim swap files
[._]*.sw[a-p]

# Source indexing files
compile_commands.json
.cache/clangd
.clangd/

# Submodule demo needs to stay in its own branch to avoid infinite submodule
# recursion.
submodule-demo/
